<header class="navbar">
  <div>
    <a href="#home">Home</a>
    <div class="group-navbar">
      <div class="news">
        <a href="#news">
          <!-- <i  class="bx bx-bell"></i> -->
          <!-- <div class="notifications"> </div> -->
          <i class="bx bxs-bell-ring"></i>
        </a>
      </div>

      <div class="profile tooltip">
        <span class="user-img">
          <img src="assets/user.svg" />
        </span>
        <span class="tooltiptext">
          <div class="services">
            <p class="userName">
              <a>User Name</a>
            </p>
            <div class="divider"></div>
            <p class="logout">
              <a href="">
                <span>Sair</span>
                <i class="bx bx-log-out-circle"></i>
              </a>
            </p>  
          </div>
        </span>
      </div>
    </div>
  </div>
</header>
