
<div class="section-time">
  <section class="week-weather">
    <div class="day">
      <h4 class="title">Amanhã</h4>
      <img src="../../../../assets/home/weather-clouds.svg" alt="" />
      <p class="maxmin">21° <span>16°</span></p>
    </div>

    <div class="day">
      <h4 class="title">Sexta</h4>
      <img src="../../../../assets/home/weather-sun.svg" alt="" />
      <p class="maxmin">28° <span>16°</span></p>
    </div>

    <div class="day">
      <h4 class="title">Sábado</h4>
      <img src="../../../../assets/home/weather-rain.svg" alt="" />
      <p class="maxmin">20° <span>16°</span></p>
    </div>

    <div class="day">
      <h4 class="title">Domingo</h4>
      <img src="../../../../assets/home/weather-thunder.svg" alt="" />
      <p class="maxmin">28° <span>26°</span></p>
    </div>

    <div class="day">
      <h4 class="title">Segunda</h4>
      <img src="../../../../assets/home/weather-cloudy.svg" alt="" />
      <p class="maxmin">26° <span>20°</span></p>
    </div>
  </section>
  
  <section class="temperature-now">
    <div class="location">
      <img src="../../../../assets/home/pin.svg" alt="icone de localizacao" />
      <strong>Cajamar, SP</strong>
    </div>
    <div class="temp">
      <div class="number">
        18
        <div class="maxmin">22° <span>16° </span></div>
      </div>
      <div class="celsius">°C</div>
    </div>

    <div class="statistics">
      <div class="stats">
        <img src="../../../../assets/home/temp-wind.svg" alt="icone de vento" />
        <div class="info">
          <p>Vento</p>
          <h5>17 <span>km/h</span></h5>
        </div>
      </div>
      <div class="stats">
        <img src="../../../../assets/home/temp-humidity.svg" alt="icone de umidade" />
        <div class="info">
          <p>Umidade</p>
          <h5>31 <span>%</span></h5>
        </div>
      </div>
      <div class="stats">
        <img src="../../../../assets/home/temp-rain.svg" alt="icone de chuva" />
        <div class="info">
          <p>Chuva</p>
          <h5>10 <span>%</span></h5>
        </div>
      </div>
    </div>
  </section>

 

</div>

<!-- <div id="app" class="grid">
  <div class="box nps grid">
    <div class="top text-center">NPS geral</div>
    <div class="middle grid">
      <img src="./assets/smile.svg" alt="bolinha verde sorrindo" />
      Excelente
    </div>
    <div class="bottom">
      <span>NPS Score</span>
      <span>75</span>
    </div>
  </div>
  <div class="box sell grid">
    <div class="top text-center">Vendas fechadas</div>
    <div class="middle">
      <svg viewBox="0 0 232 232" style="--percentage: 70">
        <circle cx="50%" cy="50%" r="98.5" opacity="0.1" stroke="#D9D9D9" />
        <circle
          cx="50%"
          cy="50%"
          r="98.5"
          stroke="url(#paint0_linear_201_85)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_201_85"
            x1="-9"
            y1="82"
            x2="145"
            y2="178"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#CE9FFC" />
            <stop offset="1" stop-color="#7367F0" />
          </linearGradient>
        </defs>
      </svg>

      <div class="content">
        <h3>70%</h3>
        <p>alcançada</p>
      </div>
    </div>
    <div class="bottom">
      <div class="item">
        <span>Esperado</span>
        <span>100</span>
      </div>
      <div class="item">
        <span
          style="
            --bg-color: linear-gradient(
              121.94deg,
              #ce9ffc 15.98%,
              #7367f0 82.85%
            );
          "
        >
          Alcançado</span
        >
        <span>70</span>
      </div>
    </div>
  </div>
  <div class="box target grid">
    <div class="top text-center">Meta mensal</div>
    <div class="middle">
      <svg viewBox="0 0 232 232" style="--percentage: 90">
        <circle cx="50%" cy="50%" r="98.5" opacity="0.1" stroke="#D9D9D9" />
        <circle
          cx="50%"
          cy="50%"
          r="98.5"
          stroke="url(#paint0_linear_201_104)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_201_104"
            x1="0.5"
            y1="82"
            x2="154.842"
            y2="178.702"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#DF9780" />
            <stop offset="1" stop-color="#A66DE9" />
          </linearGradient>
        </defs>
      </svg>

      <div class="content">
        <h3>90%</h3>
        <p>alcançada</p>
      </div>
    </div>
    <div class="bottom">
      <div class="item">
        <span>Esperado</span>
        <span>R$ 70K</span>
      </div>
      <div class="item">
        <span
          style="
            --bg-color: linear-gradient(
              121.94deg,
              #df9780 15.98%,
              #a66de9 82.85%
            );
          "
          >Alcançado</span
        >
        <span>R$ 63K</span>
      </div>
    </div>
  </div>
  <div class="box weekly-sell grid">
    <div class="top">Vendas por dia da semana</div>

    <div class="wrapper">
      <div class="left grid">
        <div class="most-sell grid">
          <span>Dia com mais vendas</span>
          quarta-feira
        </div>
        <div class="less-sell grid">
          <span>Dia com menos vendas</span>
          domingo
        </div>
      </div>
      <div class="right">
        <div class="bars">
          <div class="bar-wrapper">
            <div class="bar" style="--height: 3.9rem"></div>
            <span>dom</span>
          </div>
          <div class="bar-wrapper">
            <div class="bar" style="--height: 11.5rem"></div>
            <span>seg</span>
          </div>
          <div class="bar-wrapper">
            <div class="bar" style="--height: 7.6rem"></div>
            <span>ter</span>
          </div>
          <div class="bar-wrapper">
            <div class="bar" style="--height: 15.9rem"></div>
            <span>qua</span>
          </div>
          <div class="bar-wrapper">
            <div class="bar" style="--height: 12.9rem"></div>
            <span>qui</span>
          </div>
          <div class="bar-wrapper">
            <div class="bar" style="--height: 12rem"></div>
            <span>sex</span>
          </div>
          <div class="bar-wrapper">
            <div class="bar" style="--height: 6.9rem"></div>
            <span>sab</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
